<h2>Login</h2>
<a href="/home/signup" >Sign Up</a>
<form>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="password" class="form-control" placeholder="Password" />
    <a href="/home/submit" class="btn btn-primary">Login</a>
</form>

