<h2>SignUp</h2>
<a href="/home/login">Login</a>
<form>
    <input type="text" class="form-control" placeholder="Name" />
    <input type="text" class="form-control" placeholder="Username" />
    <input type="date" class="form-control" placeholder="Dob" />
    <input type="submit" class="btn btn-success" />
</form>

