
@{
    ViewBag.Title = "Create";
}

<h2>Create Department</h2>
<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control"/>
    <input type="submit" class="btn btn-success"/>
</form>
