
@{
    ViewBag.Title = "Create";
}

<h2>Edit Department</h2>
<form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="submit" class="btn btn-success" />
</form>
